Flask==1.0.*

# App server for both dev and prod
gunicorn==19.8.*

# Database and workers
psycopg2-binary==2.7.*
Flask-SQLAlchemy==2.3.*
SQLAlchemy-Utils==0.32
SQLAlchemy==1.2.0
redis==3.2.*
celery==4.1.*

# API
flask-classful==0.14
flask-marshmallow==0.7.0
flask-jwt-extended==3.18.*

# Testing and analysis
pytest==3.5.*
pytest-cov==2.5.*
flake8==3.5.*
mock==2.0.*

# Payments
stripe==1.82.*

# extensions and libraries
pytz==2019.1
Flask-Mail==0.9.*